.acf-map {
    width: 100%;
    height: 900px;
    margin: 0 0 20px 0;
}

// Fixes potential theme css conflict.
.acf-map img {
   max-width: inherit !important;
}

.mobile-header {
	text-align: center;
	font-size: 25px;
	font-family: $font-body;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.1px;
	margin-bottom: 27px;
	margin-top: 53px;
	@media screen and (min-width: $small-width) {
		display: none;
	}
}

.contact-map {
	width: 100%;
	position: relative;
	background: $bg-blue;
	min-height: 100vh;
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		padding-top: 45px;
		padding-bottom: 45px;
		padding-left: #{'min(2.5%, 30px)'};	
		padding-right: #{'min(2.5%, 30px)'};
	}
	@media screen and (min-width: $med-width + 1px) {
		padding-top: 90px;
		padding-bottom: 90px;
		padding-left: #{'min(10%, 130px)'};	
		padding-right: #{'min(10%, 130px)'};
	}
}

.contact-map__inner {
	max-width: 1620px;
	margin: 0 auto;
	width: 100%;
}

.contact-map .acf-map {
	height: 100%;
	min-height: 650px;
	@media screen and (min-width: $small-width) {
		min-height: 400px;
	}
}

.contact-map__content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.contact-map__content .column {
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 80px;
	@media screen and (min-width: $med-width + 1px) {
		padding-top: 0;
		padding-left: #{'min(10%, 30px)'};	
		padding-right: #{'min(10%, 30px)'};
	}
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		padding-top: 0;
		padding-left: #{'min(2.5%, 30px)'};	
		padding-right: #{'min(2.5%, 30px)'};
	}
	@media screen and (min-width: $small-width) {
		width: 50%;
	}
}

.contact-map div.gform_wrapper {
	margin-top: 35px;
	margin-bottom: 45px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 75px;
		margin-top: 40px;
	}
}

.contact-map .column.column-map {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	height: 100%;
	@media screen and (min-width: $small-width) and (max-width: $med-width) {
		padding-left: #{'min(2.5%, 30px)'};	
		padding-right: #{'min(2.5%, 30px)'};
		height: initial;
	}
	@media screen and (min-width: $med-width + 1px) {
		padding-left: #{'min(10%, 30px)'};	
		padding-right: #{'min(10%, 30px)'};
		height: initial;
	}
}
