@font-face {
  font-family: 'MetropolisMedium';
  src:url('fonts/Metropolis-Medium.woff') format('woff'),
        url('fonts/Metropolis-Medium.woff2') format('woff2'),
        url('fonts/Metropolis-Medium.eot'),
        url('fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Metropolis-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Metropolis-Bold';
  src:url('fonts/Metropolis-Bold.woff') format('woff'),
        url('fonts/Metropolis-Bold.woff2') format('woff2'),
        url('fonts/Metropolis-Bold.eot'),
        url('fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Metropolis-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MetropolisRegular';
  src: url('fonts/Metropolis-Regular.eot'),
        url('fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Metropolis-Regular.woff2') format('woff2'),
        url('fonts/Metropolis-Regular.woff') format('woff'),
        url('fonts/Metropolis-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Metropolis-Black';
  src:url('fonts/Metropolis-Black.woff') format('woff'),
        url('fonts/Metropolis-Black.woff2') format('woff2'),
        url('fonts/Metropolis-Black.eot'),
        url('fonts/Metropolis-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Metropolis-Black.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}