div.gform_wrapper.gravity-theme input[type=color],
div.gform_wrapper.gravity-theme input[type=date],
div.gform_wrapper.gravity-theme input[type=datetime-local],
div.gform_wrapper.gravity-theme input[type=datetime],
div.gform_wrapper.gravity-theme input[type=email],
div.gform_wrapper.gravity-theme input[type=month],
div.gform_wrapper.gravity-theme input[type=number],
div.gform_wrapper.gravity-theme input[type=password],
div.gform_wrapper.gravity-theme input[type=search],
div.gform_wrapper.gravity-theme input[type=tel],
div.gform_wrapper.gravity-theme input[type=text],
div.gform_wrapper.gravity-theme input[type=time],
div.gform_wrapper.gravity-theme input[type=url],
div.gform_wrapper.gravity-theme input[type=week],
div.gform_wrapper.gravity-theme select,
div.gform_wrapper.gravity-theme textarea {
	background: none;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1.5px solid #fff;
	font-family: $font-body-light;
	color: $head-color;
	padding-bottom: 0;
	padding-left: 0;
	@media screen and (min-width: $small-width) {
		font-size: 19px;
		letter-spacing: 0.19px;
		margin-bottom: 6px;
	}
}
div.gform_wrapper.gravity-theme input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
	@media only screen and (max-width: 641px) {
		min-height: 35px;
		line-height: 1.5;
	}
}

div.gform_wrapper .gfield_checkbox .gchoice {
	position: relative;
	padding-left: 30px;
	@media screen and (min-width: $small-width) {
		padding-left: 34px;
		margin-top: 20px;
	}
}

div.gform_wrapper.gravity-theme .gfield_checkbox label {
	cursor: pointer;
	font-family: $font-body-light;
	color: $head-color;
	@media screen and (min-width: $small-width) {
		font-size: 19px;
		line-height: 25px;
		letter-spacing: 0.19px;
	}
}

div.gform_wrapper input.gfield-choice-input {
	opacity: 0;
	position: absolute;
	left: 0;
	width: 28px;
	height: 28px;
	z-index: 2;
	top: 0;
	cursor: pointer;
}

.gform_wrapper form {
	position: relative;
}

div.gform_wrapper.gravity-theme .ginput_complex span {
	@media only screen and (max-width: 641px) {
		margin-bottom: 16px;
	}
}

div.gform_wrapper.gravity-theme .ginput_complex span:last-of-type {
	@media only screen and (max-width: 641px) {
		margin-bottom: 0;
	}
}

div.gform_wrapper.gravity-theme .gform_footer {
	position: absolute;
	bottom: 0;
	z-index: 2;
	right: 0;
	padding-bottom: 0;
	margin-bottom: -16px;
	text-align: right;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.gform_wrapper.gravity-theme .gform_footer input[type="submit"]:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
	background: $head-color;
	color: white;
	font-family: $font-body;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	transition-duration: 0.3s;
	transition-property: color, background;
	font-weight: 400;
	font-size: 11pt;
	padding-top: 18px;
	padding-bottom: 8px;
	letter-spacing: 0.55pt;
	min-height: 35px;
	@media screen and (min-width: $small-width) {
		font-size: 15px;
		line-height: 1.15;
		letter-spacing: 1.25px;
		padding-top: 18px;
		padding-bottom: 8px;
		padding-left: 25px;
		padding-right: 25px;
		cursor: pointer;
	}
	@media only screen and (max-width: 641px) {
		font-size: 11pt;
		padding-top: 18px;
		padding-bottom: 8px;
		letter-spacing: 0.55pt;
		min-height: 35px;
		line-height: 1.15;
	}
}

.gform_wrapper.gravity-theme .gform_footer input[type="submit"]:hover {
	background: white;
	color: $head-color;
}

div.gform_wrapper .gfield:last-child {
	width: 50%;
	margin-top: 10px;
	@media screen and (min-width: $small-width) {
		margin-top: 0;
	}
}

div.gform_wrapper input.gfield-choice-input + label:before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1.5px solid white;
	@media screen and (min-width: $small-width) {
		width: 28px;
		height: 28px;
		border: 1.5px solid white;
	}
}

div.gform_wrapper input.gfield-choice-input:checked + label:after {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 22px;
	height: 22px;
	background: url('img/check.svg') no-repeat center center / 14px;
	@media screen and (min-width: $small-width) {
		width: 28px;
		height: 28px;
		border: 1.5px solid white;
		background: url('img/check.svg') no-repeat center center / 17px;
	}
}

.gform_wrapper ::placeholder {
	font-family: $font-body-light;
	font-weight: normal;
	color: $head-color;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.14px;
	@media screen and (min-width: $small-width) {
		font-size: 19px;
		line-height: 20px;
		letter-spacing: 0.19px;
	}
}

.gform_wrapper ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	font-family: $font-body-light;
  	font-weight: normal;
	color: $head-color;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.14px;
	@media screen and (min-width: $small-width) {
		font-size: 19px;
		line-height: 30px;
		letter-spacing: 0.19px;
	}
}
.gform_wrapper ::-moz-placeholder { /* Firefox 19+ */
  	font-family: $font-body-light;
  	font-weight: normal;
	color: $head-color;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.14px;
	@media screen and (min-width: $small-width) {
		font-size: 19px;
		line-height: 30px;
		letter-spacing: 0.19px;
	}
}
.gform_wrapper :-ms-input-placeholder { /* IE 10+ */
  	font-family: $font-body-light;
  	font-weight: normal;
	color: $head-color;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.14px;
	@media screen and (min-width: $small-width) {
		font-size: 19px;
		line-height: 30px;
		letter-spacing: 0.19px;
	}
}
.gform_wrapper :-moz-placeholder { /* Firefox 18- */
  	font-family: $font-body-light;
  	font-weight: normal;
	color: $head-color;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.14px;
	@media screen and (min-width: $small-width) {
		font-size: 19px;
		line-height: 30px;
		letter-spacing: 0.19px;
	}
}