$font-head: 'Gotham-Bold', sans-serif;
$font-head-black: 'Gotham-Black', sans-serif;
$font-head-alt: 'Maitree', serif;
$font-body: 'GothamMedium', sans-serif;
$font-body-light: 'GothamBook', sans-serif;

$head-color: #1B2C58;
$head-alt-color: #8EB1C5;
$bg-blue: $head-alt-color;
$border-color: #1B2E56;
$bullet-color: #DFA457;
$med-width: 1200px;
$small-width: 768px;
$xs-width: 480px;
$body-color: #191919;